.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  padding: 20px;
  list-style: none;
}

.galleryItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
